<div class="main-container">
    <div class="welcome">Welcome in this application</div>
    <div class="subwelcome">Please select a challenge to continue</div>

    <div class="section-container">
        <section>
            <div class="title">Fizz Buzz Challenge</div>
        
            <article class="image-container">
                <img src="../assets/maths.jpg" alt="">
            </article>

            <button mat-raised-button routerLink="/fizzbuzz">Check out</button>
        </section>
        
        <section>
            <div class="title">UX Form Challenge</div>
        
            <article class="image-container">
                <img src="../assets/caravan.jpg" alt="">
            </article>

            <button mat-raised-button routerLink="/uxexample">Check out</button>
        </section>
    </div>
</div>
